@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/*- White: hsl(0, 0%, 100%);
- Light gray: hsl(212, 45%, 89%);
- Grayish blue: hsl(220, 15%, 55%);
- Dark blue: hsl(218, 44%, 22%);*/
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
  margin: 0;
  padding: 0;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

main {
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: px;
}

main h1 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-size: 22.5px;
}

main p {
  color: hsl(220, 15%, 55%);
  text-align: center;
}

@media (min-width: 500px) {
  main {
    width: 270px;
  }
}

@media (max-width: 500px) {
  main {
    width: 270px;
  }
}

@media (max-width: 310px) {
  main {
    width: 250px;
  }
}

@media (max-width: 290px) {
  main {
    width: 240px;
  }
}

@media (max-width: 280px) {
  main {
    width: 230px;
  }
}

@media (max-width: 270px) {
  main {
    width: 220px;
  }
}

@media (max-width: 260px) {
  main {
    width: 210px;
  }
}

@media (max-width: 250px) {
  main {
    width: 200px;
  }
}
